{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}

    <style>
        body { background-color : gold;}
    </style>

{% endblock %}

{% block body %}
    <h1> {{ name }}</h1>
    
    {% if myage >= 25 %}
        <h2 style="color:red;">l'age = {{ myage }}</h2>
    {% else %}
        <h6 style="color:purple;">l'age = {{ myage }}</h6>
    {% endif %}
    
    {% for prenom, age in myPrenoms %}
        <div>
            <h1>Prénom : {{ prenom }}</h1>
            <h3>Age : {{ age }} ans </h3>
        </div>
    {% endfor %}
    <ul>
        {% for compteur in 0..10 %}
            <li>{{ compteur }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block Sebastien %}
    <h2>Contenu du block Sebastien du controller: {{controller_name}}</h2>
{% endblock %}

{# commentaire #}
